In [260]:
import pandas as pd
import numpy as np

In [261]:
#Import Excel data for each city

Albequerque = pd.read_csv('Albequerque.csv')

Seattle = pd.read_csv('Seattle.csv')

In [262]:
#print data for reference 
Albequerque

    Year  Total_housing_units
0    2010             234,891
1    2011             237,735
2    2012             239,718
3    2013             240,277
4    2014             240,961
5    2015             241,326
6    2016             242,070
7    2017             243,402
8    2018             244,382
9    2019             245,476
10   2020             247,926
11   2021             252,924
12   2022             255,178

In [263]:
#print data for reference 
Seattle

    Year  Total_housing_units
0    2010             302,465
1    2011             304,164
2    2012             306,694
3    2013             309,205
4    2014             311,286
5    2015             315,950
6    2016             322,795
7    2017             334,739
8    2018             344,503
9    2019             354,475
10   2020             367,337
11   2021             362,809
12   2022             372,436

In [264]:
#Set up data for Albequerque

from sklearn.model_selection  import train_test_split
x = Albequerque["Year "]
# independent variable
# independent variable
y = Albequerque["Total_housing_units"]
# removes two data points at random to use as a test set for the model
x_year_train,x_year_test,y_Total_housing_units_train,y_Total_housing_units_test = (train_test_split(x,y,random_state=0,test_size=0.3))
x_year_train.shape, x_year_test.shape, y_Total_housing_units_train.shape, y_Total_housing_units_test.shape

((9,), (4,), (9,), (4,))

In [265]:
#Set up data for Seattle

from sklearn.model_selection  import train_test_split
sx = Seattle["Year "]
# independent variable
# independent variable
sy = Seattle["Total_housing_units"]
# removes two data points at random to use as a test set for the model
sx_year_train,sx_year_test,sy_Total_housing_units_train,sy_Total_housing_units_test = (train_test_split(sx,sy,random_state=0,test_size=0.3))
sx_year_train.shape, sx_year_test.shape, sy_Total_housing_units_train.shape, sy_Total_housing_units_test.shape

((9,), (4,), (9,), (4,))

In [266]:
#clean/filter data before making model 

import string
def remove_punctuation(text):
    # Create a translation table that maps each punctuation character to None
    translator = str.maketrans('', '', string.punctuation)
    # Use translate method to remove punctuation characters
    cleaned_text = text.translate(translator)
    return cleaned_text

y_Total_housing_units_train = y_Total_housing_units_train.apply(remove_punctuation).astype(int)
y_Total_housing_units_test = y_Total_housing_units_test.apply(remove_punctuation).astype(int)
x_year_train = x_year_train.astype(int)
x_year_test = x_year_test.astype(int)
sy_Total_housing_units_train = sy_Total_housing_units_train.apply(remove_punctuation).astype(int)
sy_Total_housing_units_test = sy_Total_housing_units_test.apply(remove_punctuation).astype(int)
sx_year_train = sx_year_train.astype(int)
sx_year_test = sx_year_test.astype(int)

In [267]:
#feed data into models
model = np.polyfit(x_year_train, np.log(y_Total_housing_units_train), 1)
print(model)

smodel = np.polyfit(sx_year_train, np.log(sy_Total_housing_units_train), 1)
print(smodel)

[0.00553793 1.2382865 ]
[ 1.84298991e-02 -2.44446837e+01]

In [268]:
#make into equations
def equation (model, x):
    return np.exp(model[1]+ model[0]*x)
y_Total_housing_units_predicted=equation(model, x_year_test)

def sequation (smodel, sx):
    return np.exp(smodel[1]+ smodel[0]*sx)
sy_Total_housing_units_predicted=sequation(smodel, sx_year_test)
print(sy_Total_housing_units_predicted)
print(sx_year_test)

6     331039.444177
11    362994.263208
4     319059.541820
10    356365.586125
Name: Year , dtype: float64
6     2016
11    2021
4     2014
10    2020
Name: Year , dtype: int32

In [269]:
#Percent Accuracies 
sum_series = (y_Total_housing_units_predicted - y_Total_housing_units_test) / y_Total_housing_units_test

sum_of_elements = sum_series.sum()
score = 100 - sum_of_elements/len(sum_series) *100

ssum_series = (sy_Total_housing_units_predicted - sy_Total_housing_units_test) / sy_Total_housing_units_test

ssum_of_elements = ssum_series.sum()
sscore = 100 - ssum_of_elements/len(ssum_series) *100

print("The model for Albequerque was ")
print(score) 
print("% accurate")  
print("")
print("The model for Seattle was ")
print(sscore) 
print("% accurate")

The model for Albequerque was
100.0303056938273
% accurate

The model for Seattle was
99.47109119035606
% accurate

In [270]:
#Finally, lets find our predicted values for 10, 20, 50 years in the future

Future = pd.read_csv('Years.csv')

Predicted_Albaquerque = equation(model, Future)

Predicted_Seattle = sequation(smodel, Future)

In [271]:
print(Predicted_Albaquerque)
print("Where 0 is 10 years, 1 is 20 years, and 2 is 50 years")

           Year
0  268993.976997
1  284310.891856
2  335696.121089
Where 0 is 10 years, 1 is 20 years, and 2 is 50 years

In [272]:
print(Predicted_Seattle)
print("Where 0 is 10 years, 1 is 20 years, and 2 is 50 years")

           Year
0  461266.385189
1  554615.293667
2  964077.495426
Where 0 is 10 years, 1 is 20 years, and 2 is 50 years